<?php

define('HOST', 'my-host.servicebus.windows.net');
define('PORT', 5671);
define('USE_TLS', true);
define('KEY_NAME', 'MyKey');
define('ACCESS_KEY', '12354csnucdr/asdiauwdefsaces23093=');

define('MY_TOPIC', 'myTopic');
define('MY_SUBSCRIPTION', 'myTopic/subscriptions/mySubscription');
define('MY_MESSAGE', 'my example message here');
